@import 'partials/reset';
@import 'partials/vars';

:root {
  font-family: sans-serif;
}

a {
  color: $gray;
  text-decoration: none;
  transition: all 0.3s linear;
}

a:hover {
  color: $brand-green;
}
