.navbar {
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.navbarWrapper {
  display: flex;
}

.leftnav {
  margin-top: 1.2rem;
  display: flex;
}

.li {
  margin-right: 1rem;
}

.li:first-child {
  margin-left: 1rem;
}

.logo {
  font-size: 2.5rem;
  font-weight: 100;
}
