.navbar {
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.navbarWrapper {
  display: flex;
  align-items: center;
}

.leftnav {
  margin-top: 0.5rem;
  margin-left: 2rem;
  display: flex;
}

.logo {
  font-size: 2.5rem;
  font-weight: 100;
}

.li {
  margin-right: 1rem;
}
