.indexContainer {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  font-size: 3.5rem;
  font-weight: 500;
  color: $gray;
  margin-bottom: 2rem;
}
.formRow {
  margin-bottom: 2rem;
}

.button[type='submit'] {
  background: $grn-black;
  color: $white;
  transition: all 0.3s linear;
}

.button[type='submit']:hover {
  background-color: $brand-green;
  color: $white;
}

.label {
  color: $gray;
  font-size: 0.9rem;
  font-weight: 100;
}
